@charset "UTF-8";

body {
	height: 100vh;
	
	background-image: url("../../resources/image/login_background.jpg");
	background-repeat: repeat;
	background-size : cover;
}

h2 {
	text-align: center;
	position: relative;
	top: 18vh;
	color: white;
}

.input-box {	
   width: 500px;
   background-color: #F7F7F7;
   border-radius: 2px;
   border-top: 12px solid #0099FF;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   position:relative;
   top: 20vh;
   margin:0 auto 10px;
}
.input-box .header-box {
  margin-top : 20px;
  margin-bottom : 20px;
  padding-left: 30px;
  position: relative;
  left:0px;
  font-weight: 100;
  text-align: left;
  font-size: 1.5em;
}

.input-box .body-box {
	background-color: white;
	padding : 30px;
	padding-bottom: 20px;
}

.footer-box {
	background-color: #F7F7F7;
	padding: 10px 30px;
	margin-top: 10px;
	padding-bottom: 30px;
}

.input-box input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.input-box button[type=submit] {
  display: block;
  position: relative;
}
.input-box button[type=submit] {
  width: 60px;
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #0099FF;
  position: relative;
  float: right;
}

.input-box button[type=submit]:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}
.input-box a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
input-box a:hover {
	 opacity: 1;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin: 20px 0px;
}
.hr-sect::before{
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin-right: 16px;
	
}
.hr-sect::after {
	  content: "";
	  flex-grow: 1;
	  background: rgba(0, 0, 0, 0.35);
	  height: 1px;
	  font-size: 0px;
	  line-height: 0px;
	  margin-left: 16px;
}

.copylight {
	color: #999999;
	text-align: center; 
	margin: 0 0 9.5px;
	box-sizing: border-box;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: relative;
    top: 30px;
    font-size: 12px;
    margin-bottom: 70px;
}



