table{ 
  border: 1px solid #ffebb5; 
  background-color: #ffebb5; 
  border-radius: 16px;
  box-shadow: inset 0 0 8px #deb13a;
  width: 1000px; height: 160px;
}
#pr:hover {
	background-color: #58ACFA;
	cursor: pointer;
	height: 100px;
		}
table th{
	position: sticky;
    top: 0px;
    background-color: #81BEF7;
    
} 		
input:hover{
	height: 50px;
	width: 40px;
	cursor: pointer;
}

				